body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.filmsummary {
    padding-bottom: 15px;
    min-width: 160px;
    margin: 0 auto;
}

.filmsummary a {
    text-decoration: none;
    display:block;
}

.filmsummary a:hover img, .filmsummary a:hover .imgdesc{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.imgsummary {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    max-height: 165px;
}

.imgdesc {
    padding: 2px;
    text-align: center;
    max-width: 150px;
    height: 41px;
    margin: 0 auto;
    border: 1px solid gray;
    overflow: hidden
}

a.list-group-item {
    text-decoration: none;
    display: block;

}

a.list-group-item:hover{
    background-color: #C0C0C0;
}

.searchimgsummary {
    margin-bottom: 10px;
    padding-right: 10px;
    float: left;
    max-width: 150px;
    max-height: 165px;
    overflow: hidden;
}

/* Detail */
td:first-child {
    font-weight: 700;
    text-align: right;
}